
.content-wrap {
    display: flex;
}

.coverletter {
    height: 20rem;
    width: 75%;
    background-color: rgb(0, 0, 0);
    display: flex;
}

.test {
    margin-left: 1.4rem;
    align-self: flex-end;
    font-size: 20px;
}

.image {
    max-width: 100%;
    height: auto;
}

.jphoto {
   // left: -0.00773165%;
    top: 0%;
    width: 30%;
    height: 100%;
    //position: absolute;

}

#projects {
    background-color: whitesmoke;
    color: black;
}

#projectHeader {
    text-align: center;
}