$bg-white: #f6f9f6; 
$bg-dkwhite: #EAF1EA; 
$bg-gray: #9197AE; 
$bg-dark:#273043; 
$bg-lightred: #F02D3A; 
$bg-darkred:#DD0426; 
$bg-yellow:#F9DB6D; 
$ac-orange:#FA7268; 
$ac-red:#C62368;
$ac-black:#001220;

